* {

	font-family: sans-serif;

	line-height: 1.618em;

	box-sizing: border-box;

	margin: 0;

	padding: 0;

}

button {
	height: auto;
	width: 800px;
	background-color: blue;
	border: line-width 100em;
	color: rgb(230, 247, 185);
	padding: 15px 32px;
	text-align: center;
	text-decoration: none;
	display: legacy;
	font-size: 30px;
	float: left;
    border: 3px solid rgb(3, 3, 3);
  }

  button {
	transition-duration: 1s;
  }
  
  button:hover {
	background-color: #4CAF50; /* Green */
	color: white;
  }


html {
	
	transition-duration: 1s; 

	background-image: url("8iEb5EpaT.jpg") ;

	background-repeat: repeat;
  
	background-position: right top;
  
	background-attachment: scroll;

	font-size: 20px;
    
    color: rgb(230, 247, 185);

	margin-top: 3em;

}



h1 {
	height: auto;
	width: auto;
	border-style: double;
	border-color: rgb(230, 247, 185);
	background-color: #030303;
	color: rgb(230, 247, 185);
}

h2 {
	height: auto;
	width: auto;
	border-style: double;
	border-color: rgb(230, 247, 185);
	background-color: #030303;
	color: rgb(230, 247, 185);
}

h3 {
    height: auto;
	width: auto;
	border-style: double;
	border-color: rgb(230, 247, 185);
	background-color: #030303;
	color: rgb(230, 247, 185);

}

h4 {
	height: auto;
	width: auto;
	border-style: double;
	border-color: rgb(230, 247, 185);
	background-color: #030303;
	color: rgb(230, 247, 185);
}

span {
	height: auto;
	width: auto;
	border-style: double;
	border-color: rgb(230, 247, 185);
	background-color: #030303;
	color: rgb(230, 247, 185);
}



header,

main,

footer {

	margin: 0 auto;

	max-width: 800px;

}



header {

	padding: 2em 0;

}



header h1 {

	font-size: 3em;

}



header span {

	font-size: 1.5em;

	color:rgb(230, 247, 185);

}





nav{

	position: fixed;

	top: 0;

	left: 0;

	width: 100%;



    display: flex;

    flex-flow: row;

    justify-content: center;

	background: rgb(8, 8, 8);

}



nav a {

	padding: .5em 2em;

	text-decoration: none;

	color: rgb(230, 247, 185);

}



nav a:hover {

  width: 200px;
  height: 100px;
  background: #4CAF50;
  transition: width 5s;

}



section {

	margin: 1em 0;

	padding-top: 3em;

	min-height: 20em;

}



section > p {

	margin: 1em 0;

}



section ul {

	padding-left: 1.5em;

}



#typesAndStrains section {

	display: grid;

	grid-template-columns: repeat(3, 1fr);

	grid-template-rows: auto;

	grid-column-gap: 1em;

}

#typesAndStrains section {

	height: auto;
	width: auto;
    background: rgb(8, 8, 8);
	border: 100px white;
	color: rgb(230, 247, 185);
    padding: 2em;

}

#body article img {

	width: 100px;

	border: 102px solid #CD5C5C;

}

}

footer {

	margin-top: 2em;

	margin-bottom: 1em;

	background: #030303; 

	color: rgb(230, 247, 185);

	padding: 1em 0;

	text-align: center;

}